<template>
  <div id="app">
    <div class="ui inverted top fixed menu">
      <div class="ui container">
        <router-link
          to="/"
          class="header item"
        >
          <img id="T"
            class="ui mini image"
            src="./assets/trickkiste-T_400x400_transparent.png"
          >
          Trickkiste Accounting
        </router-link>
        <router-link
          to="/login"
          class="item"
          v-if="!authState.isAuthenticated"
        >
        Login
      </router-link>
        <router-link
          to="/upload"
          class="item"
          id="upload-button"
          v-if="authState.isAuthenticated"
        >
          <i
            aria-hidden="true"
            class="upload icon">
          </i>
          Upload
        </router-link>
        <router-link
          to="/profile"
          class="item"
          id="profile-button"
          v-if="authState.isAuthenticated"
        >
        Profile
        </router-link>
        <a
          id="logout-button"
          class="item"
          v-if="authState.isAuthenticated"
          v-on:click="logout()"
        >
        Logout
        </a>
        <router-link
          to="/about"
          class="item"
        >
        About
        </router-link>
      </div>
    </div>
    <div
      class="ui text container"
      style="margin-top: 7em;"
    >
      <router-view/>
    </div>
  </div>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#T {
  margin-right: 8px;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>

<script>
export default {
  name: 'app',
  methods: {
    async logout () {
      await this.$auth.signOut()
    }
  }
}
</script>